<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="{{ '/assets/logos/URochester_Favicon2.png' | relative_url }}">
  <script>
    MathJax = {
      tex: { inlineMath: [['\\(','\\)'], ['$','$']], displayMath: [['\\[','\\]'], ['$$','$$']] },
      options: { skipHtmlTags: ['script','noscript','style','textarea'] }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" async></script>
  {{ page.head_extra }}
</head>
<body>
{{ content }}
</body>
</html>
